# Dependencies
/node_modules
npm-debug.log
yarn-error.log
.env


# Build output
/dist
/build

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# IDE/Editor folders
.vscode/
.idea/
*.swp
*.swo

# Testing
/coverage

# Temporary files
*.tmp
*.temp

# Database files
*.sqlite

# Backup files
*.bak
*.backup

# Specific to your project
/uploads/*
!/uploads/.gitkeep

# Config files that might contain sensitive information
config/config.js

# Database backup
travel_db_backup.sql

# Docker
docker-compose.override.yml

# Misc
.npm
.yarn
*.pid
*.seed
*.pid.lock
.vercel
.coverage
